h1 {
    margin-bottom: 50px;
}

th {
    text-align: center;
}

/*li.checked {*/
/*    !*color: #ccc;*!*/
/*    color: red;*/
/*}*/

#checkbox-text {
    margin-left: 8px;
}

#checkbox-text.checked {
    color: red;
}
